<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="testi" />
      <allow users="Craig653" />
      <allow users="Keeks" />
      <allow users="Chromechris" />
      <allow users="Stephanie" />
      <allow users="Carl" />
      <allow users="Ramon" />
      <allow users="Jonathan" />
      <deny users="*" />
    </authorization>
  </system.web>
</configuration>